extends head

block content 

  main.container.pt-2.mx-auto(style='width: 500px;')
    section  
      h1 Home page        
      button#btn-login.btn.btn-lg.btn-block.m-2.btn-primary(disabled='true' onclick='login()') Log in
      button#btn-logout.btn.btn-lg.btn-block.m-2.btn-secondary(disabled='true' onclick='logout()') Log out
      section#info.mx-auto  
    
    section#api.hidden.mt-3
      select#ApiPath.form-select(name='path')           
        option(value='/api/data') GET data
        option(value='/api/') GET / (ping) 
        option(value='/api/private') GET private data (requere token)          
        option(value='/api/private-scoped') GET data (scope and authenticated)
        option(value='/api/getAllUsersSki') GET getAllUsersSki 
      button#ApiCall.btn.btn-outline-primary Odeslat
      pre#ApiResponse.mt-2