extends head

block content 

  main.container.pt-2.mx-auto(style='width: 600px;')
    #alert-div.hidden.alert.alert-danger.alert-dismissible.fade.show(role='alert')      
      p(localization-key="ErrMessage")
    #alertInfo-div.hidden.alert.alert-info.alert-dismissible.fade.show     
       
    section
      h1(localization-key="home-page") Home page        
      button#btn-login.btn.btn-lg.btn-block.m-2.btn-primary(disabled='true' onclick='login()' localization-key="login") Log in
      button#btn-logout.btn.btn-lg.btn-block.m-2.btn-secondary(disabled='true' onclick='logout()' localization-key="logout") Log out
      button#btn-export.btn.btn-lg.m-2(disabled='true') Export 
        i.fa-solid.fa-download
      div#info.mx-auto 

    section#api.hidden.mt-3.card.p-3.bg-light
      h3 Test API
      select#ApiPath.form-select(name='path')           
        option(value='/api/data') GET data
        option(value='/api/') GET / (ping) 
        option(value='/api/private') GET private data (requere token)          
        option(value='/api/private-scoped') GET data (scope and authenticated)
        option(value='/api/getAllUsersSki') GET getAllUsersSki 
        option(value='/api/getAllUsers') GET getAllUsers
      button#ApiCall.btn.btn-outline-primary.mt-2 Odeslat
      pre#ApiResponse.mt-2

    section#file.hidden.mt-3 
      form#uploadDataForm.card.p-3.bg-light
        h3 Import dat z měření
        .form-group.mb-3
          label.font-weight-bold(for='airTemperature') Teplota vzduchu
          input#airTemperature.form-control(type='number' step='any' placeholder='°C')
        .form-group.mb-3
          label.font-weight-bold(for='snowTemperature') Teplota sněhu
          input#snowTemperature.form-control(type='number' step='any' placeholder='°C')
        .form-group.mb-3
          label.font-weight-bold(for='humidity') Vlhkost
          input#snowTemperature.form-control(type='number' step='any' placeholder='%')
        .form-group.mb-3
          label.font-weight-bold(for='note') Poznámka
          textarea#note.form-control(rows='3')
        .input-group.mb-3
          .input-group-prepend
            label.input-group-text(for='snowType') Typ sněhu:
          select#snowType.form-select
              option(selected='') Výběr
              option(value='1') Čerstvě napadaný prašan
              option(value='2') Hranatozrnitý sníh
              option(value='3') Led (extrém)
              option(value='4') Umělý sníh
              option(value='5') Hruboznný sníh
              option(value='6') Jemnozrnný sníh
              option(value='7') Padající sníh
              option(value='8') Špinavý sníh
              option(value='9') Starý (transformovaný) sníh    
          // todo load from api 
        .input-group.mb-3
          .input-group-prepend
            label.input-group-text(for='testType') Typ testu:
          select#testType.form-select
              option(selected='') Výběr
              option(value='1') Čas
              option(value='2') Vzdálenost
              option(value='3') Rychlost    
        .form-group.mb-3
          label.font-weight-bold(for='note') Čas
          .input-group.date            
            input#date.form-control(type='datetime-local' step='60')  
        .form-group.mb-3     
          label.file-upload Import záznamů testů lyží z Excelu:
          input#inputFile(type='file' onchange='processFile()' accept='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.csv') 
          pre#preview
        input#btn-post.btn.btn-primary.btn-block.mb-3(type='submit' disabled='true' value='Odeslat')  
      
            