extends head

block content
    main.container.pt-2.mx-auto(style='width: 300px;')
        h1 Login page        
        button#btn-login.btn.btn-lg.btn-block.m-2.btn-primary(disabled='true' onclick='login()') Log in
        button#btn-logout.btn.btn-lg.btn-block.m-2.btn-secondary(disabled='true' onclick='logout()') Log out
        section#info